@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Mochiy+Pop+P+One&display=swap');

:root {
  --red: #FF0000;
  --blue: #0000FF;
  --green: #00FF00;
  --yellow: #FFFF00;
}

body {
  margin: 0;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}

.card {
  width: 9cm;
  height: 13cm;
  position: relative;
  overflow: hidden;
  border: solid 10px white;
  outline: 1px solid black;
  border-radius: 8px;
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;

  &>.topNumber {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &>.midNumber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
  }


  &>.bottomNumber {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  &>.MidCard {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    width: 8cm;
    height: 12cm;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.card-color-red {
  background-color: var(--red);
}

.card-color-blue {
  background-color: var(--blue);
}

.card-color-green {
  background-color: var(--green);
}

.card-color-yellow {
  background-color: var(--yellow);
}

.mid-color-red {
  color: var(--red);
}

.mid-color-blue {
  color: var(--blue);
}

.mid-color-green {
  color: var(--green);
}

.mid-color-yellow {
  color: var(--yellow);
}
